Python\sudoku\__pycache__\
Python\Terminal\__pycache__\
Python\Pygame\dino\__pycache__\
Python\Pygame\Flappy Bird\__pycache__\
Python\Pygame\Maze(not finished)\__pycache__\
Python\Pygame\snake(not finished)\__pycache__\
Python\Pygame\space invaders\__pycache__\
Python\Pygame\sandbox\__pycache__