body{
    padding: 0;
    margin: 0;
}

a, a:visited{
    text-decoration: none;
}

.About{
    text-align: center;
    margin: 5px;
}

.text{
    float: right;
    display: block;
    margin: 5px;
}

