body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.slider{
    width: 600px;
    overflow: hidden;
    height: 300px;
    border: 1px solid black;
}

.slides{
    display: flex;
    overflow: hidden;
    transition: margin .8s ease-in-out;
}

.box{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    width: 20px;
    z-index: 1;
    height: 20px;
    margin: 0 20px;
    font-size: 40px;
}


.soc{
    float: left;
    margin-top: -130px;
}
